<section class="ext-training-contact-tiles-ng" ng-controller="ContactController as $ctrl">
    <div class="container-fluid">
        <header class="row text-center">Contacts</header>
        <div class="row">
            <ul>
                <li class="contact col-sm-4" ng-repeat="contact in $ctrl.state.contacts.data track by contact.id">
                    <div ng-if="$ctrl.state.showAvatar" class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <ui-bb-avatar class="contact-avatar media img-circle img-thumbnail no-padding text-center" ng-if="$ctrl.state.showAvatar" name="contact.name" image="contact.imageAvatar"></ui-bb-avatar>
                    </div>
                    <div class="contact-data {{$ctrl.state.showAvatar ? 'col-lg-8 col-md-8 col-sm-8 col-xs-8 pull-left' : 'col-lg-12 col-md-12 col-sm-12 col-xs-12'}}">
                        <div ng-bind="contact.name"></div>
                        <div ng-bind="contact.accountIBAN"></div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>
