<section class="ext-training-appointments-ng" ng-controller="AppointmentsController as $ctrl">
    <h1>Here!</h1>
    <div class="container-fluid">
        <div class="row">
          <ui-training-dropdown-ng
             class="col-sm-6" items="$ctrl.customers"
             item-type="$ctrl.customersHeader"
             on-select="$ctrl.onSelectCustomer(item)"></ui-training-dropdown-ng>
          <ui-training-dropdown-ng
             class="col-sm-6" items="$ctrl.advisors"
             item-type="$ctrl.advisorsHeader"
             on-select="$ctrl.onSelectAdvisor(item)"></ui-training-dropdown-ng>
        </div>
        <div class="row">
            <ui-training-appointments-list-ng items="$ctrl.filteredAppointments"
              on-select="$ctrl.onSelectAppointments(item)"></ui-training-appointments-list-ng>
            <h4 ng-if="$ctrl.appointments.length === 0">No appointments available.</h4>
        </div>
    </div>
</section>
