<div ng-controller="LoginController as loginCtrl" ng-class="responsiveClass">

    <!--  FULL CONTENT -->
    <div class="lp-widget-content">

        <!--  BODY CONTENT -->
        <div>
            <!-- <div class="login-title">Login</div> -->
            <span class="login-description">Faça o login usando seu <span class="login-bold">email</span> e <span class="login-bold">senha</span></span>
            <form role="form" ng-submit="doLogin()" novalidate="novalidate">
                <div class="form-group">
                    <label class="sr-only" for="j_username">E-mail</label>
                    <input class="form-control input-sm" type="email" name="j_username"
                           ng-model="user.id" ng-required="true"
                           autofill="autofill" autocorrect="off" autocapitalize="off"/>
                </div>
                <div class="form-group">
                    <label class="sr-only" for="j_password">Senha</label>
                    <input class="form-control input-sm" type="password" name="j_password" ng-model="user.password" ng-required="true" autofill="autofill"/>
                </div>
                <!-- <div class="checkbox pull-left no-margin-bottom">
                    <label><input type="checkbox" ng-model="user.remember"/> <small>Lembrar meu usuário</small></label>
                </div> -->
                <div class="pull-right">
                    <button type="submit" class="btn btn-sm btn-primary btn-login" ng-disabled="! allowSubmit()">Entrar</button>
                </div>
            </form>

        </div>

    </div>

    <!--  WIDGET ALERTS -->
    <div class="alert alert-error" ng-show="error">
        <p><span>{{error}}</span></p>
    </div>

</div>
