.lp-login {
  // .login-title {
  //   width: 144px;
  // 	height: 76px;
  // 	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue";
  // 	font-size: 50px;
  // 	font-weight: 100;
  // 	color: #4a4d4a;
  //   margin-bottom:20px;
  // }

  .login-description {
    width: 399px;
  	height: 28px;
  	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue";
  	font-size: 20px;
  	font-weight: 100;
  	font-style: normal;
  	font-stretch: normal;
  	line-height: normal;
  	letter-spacing: normal;
  	color: #4a4d4a;
  }

  .login-bold {
    font-weight: bold;
  }

  form {
    margin-top:19px
  }

  label {
    clip: auto;
    overflow: visible;
    width:auto;
    height:auto;
    font-size: 22px;
  	font-weight: 100;
  	color: #aab0aa;
    padding-top: 18px;
    padding-left: 18px;
  }

  .alert {
    margin: 0;
    padding: 0 15px 15px;
  }

  padding-left:60px;
  padding-right:60px;
  padding-top:30px;
  padding-bottom:30px;

  input {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue";
  	font-size: 22px;
  	font-weight: 100;
  	color: #aab0aa;
    background: none;

  	height: 66px;
  	border-radius: 8px;
  	border: solid 1px #aab0aa;
    padding-left: 85px;
  }

  .btn-login {
    width: 200px;
  	height: 56px;
  	border-radius: 28px;
  	background-color: rgba(50,200,75, 0.3);
    border: none;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue";
  	font-size: 16px;
  	text-align: center;
  	color: rgba(50,200,75, 1);
  }

}
