.lp-widget-social {
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 30px;
  padding-bottom: 30px;

  .social-description {
  	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue";
  	font-size: 20px;
  	font-weight: 100;
  	font-style: normal;
  	font-stretch: normal;
  	line-height: normal;
  	letter-spacing: normal;
  	color: #4a4d4a;
  }

  .facebook-icon {
    float: left;
    font-size: 24px;
    padding-top: 2px;
  }

  .facebook-button-title {
    margin-top: 10px;
    max-width: 300px;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
  	border-radius: 28px;
  	background-color: #39579a;
    color: white;
    text-align: center;

  	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue";
  	font-size: 19px;
  	font-weight: 300;
  	text-align: center;
  	color: #ffffff;
  }

  .social-disclaimer {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue";
    font-size: 12px;
    font-weight: 300;
    color: #aab0aa;
    margin-top: 3px;
  }
}
