<div ng-controller="LoginController as loginCtrl" ng-class="responsiveClass">

    <!--  FULL CONTENT -->
    <div class="lp-widget-content">

        <!--  BODY CONTENT -->
        <div class="panel-body">

            <form role="form" ng-submit="doLogin()" novalidate="novalidate">
                <div class="form-group">
                    <label class="sr-only" for="j_username">ID</label>
                    <input class="form-control input-sm" type="text" name="j_username" placeholder="Username"
                           ng-model="user.id" ng-required="true"
                           autofill="autofill" autocorrect="off" autocapitalize="off"/>
                </div>
                <div class="form-group">
                    <label class="sr-only" for="j_password">Password</label>
                    <input class="form-control input-sm" type="password" name="j_password" placeholder="Password" ng-model="user.password" ng-required="true" autofill="autofill"/>
                </div>
                <div class="checkbox pull-left no-margin-bottom">
                    <label><input type="checkbox" ng-model="user.remember"/> <small>Lembrar meu usuário</small></label>
                </div>
                <div class="pull-right">
                    <button type="submit" class="btn btn-sm btn-primary" ng-disabled="! allowSubmit()">Login</button>
                </div>
            </form>

        </div>

    </div>

    <!--  WIDGET ALERTS -->
    <div class="alert alert-error" ng-show="error">
        <p><span>{{error}}</span></p>
    </div>

</div>
