.ext-training-appointments-ng {}
.ext-training-appointments-ng .list-group {
    display: block;
}
.ext-training-appointments-ng .row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
}
@media(max-width:768px) {
    .ext-training-appointments-ng .overflow-hidden-on-xs {
        overflow: hidden;
    }
}
