<div ng-controller="MainCtrl as mainCtrl">
    <span class="social-description">ou, usando seu perfil,</span>
    <div class="facebook-button-title"><i class="fa fa-facebook facebook-icon" aria-hidden="true"></i>Facebook</div>
    <div class="social-disclaimer">O Sicredi não publica nada em sua rede social.</div>
</div>
