.draggable {
    z-index: 1000;
}

.designMode {
    .bd-linkArea {
        display: inline-block;
        min-width: 100px;
        padding: 2px;
        &.btn-primary {
            padding: 6px 12px;
            &.bd-ice-link-target {
                background-color: #333;
            }
        }
    }
    .be-ice-widget-enabled [contenteditable=false]:empty:before {
        content: "Start typing here";
        color: rgba(0,0,0,.2);
        text-overflow: ellipsis;
        white-space: nowrap;
        pointer-events: none;
    }
    .widget-advanced-content .jumbotron {
        padding: 30px;
    }
}

.bd-designMode-true {
    .lp-promo-slide {
        .bd-ice-wrapper {
            box-shadow:         0 2px 2px #FFFFFF inset, 0 -2px 2px #999 inset, 2px 0 1px #ccc inset, -1px 0 1px #ccc inset, 1px 1px 2px #999;
            -moz-box-shadow:    0 2px 2px #FFFFFF inset, 0 -2px 2px #999 inset, 2px 0 1px #ccc inset, -1px 0 1px #ccc inset, 1px 1px 2px #999;
            -webkit-box-shadow: 0 2px 2px #FFFFFF inset, 0 -2px 2px #999 inset, 2px 0 1px #ccc inset, -1px 0 1px #ccc inset, 1px 1px 2px #999;
            &:before {
                background-position: 10px center;
            }
            &:after {
                margin-top: -0.7em;
                text-align: left;
                padding-left: 75px;
            }
        }
        .lp-content-image-area {
            display: block;
            float:   right;
            position: absolute;
            opacity: 1;
            right: 10px;
            bottom: 10px;
            margin:             10px 10px 3px 0;
            padding:            5px;
            clear:              both;
            font-size:          10px;
            text-align:         center;
            img {
                min-height: 0;
            }
        }
        .lp-content-text-area {
            > h2, > h3, > p {
                background: none;
            }
        }
        &:hover {
            .lp-content-text-area {
                > h2, > h3, > p {
                    background: rgba(255, 255, 255, 0.40);
                }
            }
        }
    }
    .widget-advanced-content {
        .bd-ice-wrapper {
            &-empty {
                .bg-image.bd-imgArea {
                    min-width: 150px;
                    min-height: 100px;
                }
            }
            .bg-image.bd-imgArea {
                max-width: 150px;
                max-height: 100px;
            }
        }
    }
}

/**
 * Launchpad specific
 */
.lp-content{
    &-advanced {
        h3 {
            line-heigt: 20px;
        }
    }
    /* TeaserText.html */
    &-teasertest {
        h2 {
            line-height: 24px;
        }
    }
    &-text-area {
        h1 {
            font-weight: bold;
            margin-bottom: 0px;
        }
    }
}

/* PersonalFinanceManager.html */
.lp-pfm {
    padding: 5px;
    i.lp-icon {
        position: absolute;
        bottom: 10px;
        right: 10px;
    }
}

/* TimeOffer.html */
.lp-timeoffer {
    padding: 5px;
    &-date {
        height: 21px;
        width: 36px;
        position: absolute;
        right: 0;
        top: 6px;
        line-height: 12px;
        padding: 5px 0 0 6px;
        margin-top: 18px;
        color: white;
        font-size: 12px;
        background: url('../../media/springboard/timeoffer-badge.png');
    }
}


/* ChecklistText.html */
.lp-checklist-area {
    padding: 8px;
    width: 33.33%;
    float: left;
    text-align: left;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    .lp-icon-tick {
        display: block;
        float: left;
        width: 24px;
        height: 24px;
        margin: 8px;
        background: transparent url(../media/icon_tick.png) no-repeat 0 0;
        position: relative;
    }
}

/**
 * From promo carousel
 */
.lp-grippy {
    background:rgba(0,0,0,0.3);
    color: #fff;
    padding: 4px;
    border-radius: 3px;
    position: absolute;
    top: -10px;
    left: 0px;
    cursor: move;
    display: none;
    z-index: 100;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;
}

.lp-portal-body .lp-wrapper {
    transition:         background-color 150ms ease-in;
    -webkit-transition: background-color 150ms ease-in;
}

.lp-promo-slide {
    position:            relative;
    width:               100%;
    height:              100%;
    min-height: 300px;
    box-sizing:          border-box;
    -moz-box-sizing:     border-box;
    -webkit-box-sizing:  border-box;
    background-size:     cover;
    background-position: center bottom;
    background-repeat:   no-repeat;
    .lp-content-image-area {
        display: none;
    }
    .lp-content-text-area {
        position: absolute;
        opacity:  0;
    }
    .btn {
        margin-top:10px;
    }
}


/* 5.5 ice */

.lp-content-block .bd-ice-wrapper img {
    max-width: 100%;
}


/** ICE mode */
.be-ice-widget-enabled {
    .widget-advanced-content {
        .image-panel {
            display: block;
            position: absolute;
            top: 5px;
            right: 5px;
            img {
                max-width: 100%;
            }
        }
        .image-thumbnail img {
            max-width: 200px;
            max-height: 70px;
        }

    }
}
.widget-advanced-content {
    &-body {
        height: 100%;
        &:before {
            content: '';
            background: red;
            height: 100%;
            display: inline-block;
            vertical-align: middle;
        }
        > div {
            display: inline-block;
            vertical-align: middle;
            width: 100%;
        }
        > .image-thumbnail {
            display: none;
        }
    }
    .thumbnail, .jumbotron, .marketing, .callout-image {
        margin-bottom: 0;
    }
    .jumbotron, .marketing, .callout-image {
        background-color: transparent;
    }
    .image-panel {
        display: none;
    }
}

.widget-advanced-content {
  color: #4a4d4a !important;
}
