<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ui-training-dropdown-ng component</title>
    <script src="../node_modules/vendor-bb-angular/scripts/vendor-bb-angular.js"></script>
    <script src="../dist/scripts/ui-training-dropdown-ng.js"></script>
    <script>
        var demoModule = angular.module('ui-bb-component-demo', ['ui-training-dropdown-ng'])
            .controller('DemoController', function() {
                this.name = 'ui-training-dropdown-ng';
                this.config = {amount: 123};
            });

        angular.element(document).ready(function() {
            angular.bootstrap(document, ['ui-bb-component-demo']);
        });
    </script>
</head>
<body ng-controller="DemoController as demo">

    <h1>ui-training-dropdown-ng</h1>
    <pre>{{ demo.name }}</pre>

    <ui-training-dropdown-ng config="demo.config"></ui-training-dropdown-ng>

</body>
</html>
